@font-face {
  /*font-family: pf-bold;*/
  font-family: 'PFBagueSansPro';
  src: url('../fonts/PFBagueSansPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/PFBagueSansPro-Bold.otf')  format('opentype'),
	     url('../fonts/PFBagueSansPro-Bold.woff') format('woff'), url('../fonts/PFBagueSansPro-Bold.ttf')  format('truetype'), url('../fonts/PFBagueSansPro-Bold.svg#PFBagueSansPro-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'PFBagueSansPro';
  src: url('../fonts/PFBagueSansPro-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/PFBagueSansPro-Medium.otf')  format('opentype'),
	     url('../fonts/PFBagueSansPro-Medium.woff') format('woff'), url('../fonts/PFBagueSansPro-Medium.ttf')  format('truetype'), url('../fonts/PFBagueSansPro-Medium.svg#../fonts/PFBagueSansPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'PFBagueSansPro';
  src: url('../fonts/PFBagueSansPro.eot?#iefix') format('embedded-opentype'),  url('../fonts/PFBagueSansPro.otf')  format('opentype'),
	     url('../fonts/PFBagueSansPro.woff') format('woff'), url('../fonts/PFBagueSansPro.ttf')  format('truetype'), url('../fonts/PFBagueSansPro.svg#PFBagueSansPro') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'PFBagueSansPro';
  src: url('../fonts/PFBagueSansPro-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/PFBagueSansPro-MediumItalic.otf')  format('opentype'),
	     url('../fonts/PFBagueSansPro-MediumItalic.woff') format('woff'), url('../fonts/PFBagueSansPro-MediumItalic.ttf')  format('truetype'), url('../fonts/PFBagueSansPro-MediumItalic.svg#PFBagueSansPro-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}


html,
body{
	width: 100%;
	height: 100%;
	font-family:PFBagueSansPro;
	font-weight: 500;
  	font-style: normal;
	-webkit-tap-highlight-color:transparent;
	color: #023f52;
	background-color: #3ec2d2;
	/*background-image: url(../../1.png);
	opacity: .5;
	-webkit-background-size: cover;
	background-size: cover;*/
}

a{
	text-decoration: none;
	color: #023f52;
}

section{
	width: 100%;
	background-color: #3ec2d2;
	position: relative;
	font-size: 14px;
}

.starting_section{
	padding-bottom: 40px;
}

.bg_img{
	position: absolute;
	right: 0;
	top: 0;
	left: 50%;
	/*width: 48%;*/
	bottom: 0;
	background-image: url(../images/bg_img.png);
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

.bg_img_mob{
	display: none;
	
}

.content{
	margin-left: 8%;
	width: 40%;
	padding-top: 30px;
}

.logo_wr{
	overflow: hidden;
	padding-bottom: 30px;
}

.logo{
	float: left;
	max-width: 61px;
	padding-top: 3px;
}

.logo_text{
	float: left;
	font-size: 18px;
    line-height: 21px;
    margin-left: 4%;
    text-transform: uppercase;
    width: 146px;
	display: block;
	/*font-family:PFBagueSansPro-MediumItalic;*/
	font-weight: 500;
  	font-style: italic;
}

h1{
	font-size: 32px;
	padding-bottom: 30px;
	line-height: 40px;
	/*font-family: pf-bold;*/
	font-weight: bold;
	text-transform: uppercase;
}

.content_middle p{
	font-size: 18px;
    line-height: 20px;
	padding-bottom: 10px;
    font-weight: 400;
	/*font-family:PFBagueSansPro-Medium;*/
}

.download_wr{
	overflow: hidden;
	padding-bottom: 100px;
}

.download_wr>a{
	float: left;
	width: auto;
}

.download_wr img{
	max-width: 260px;
	width: 100%;
}

.logo img {
    width: 100%;
}

.owl-carousel{
	width: 50%;
	margin-left: 8%;
	position: relative;
}

.owl-item .slider__item img{
	display: inline-block;
    width: auto;
    height: 44px;
    margin-bottom: 10px;
}

.visa{
	position: absolute;
}

.owl-next,
.owl-prev{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 30px;
	background-color: red;
}

.owl-next{
	right: 0;
}

.owl-prev{
	left: 0;
}

.slider__item{
	padding: 16px 14px 22px 14px;
    min-height: 150px;
    height: auto;
    background-color: #ecec70;
    border-radius: 10px;
    width: 94%;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 16px;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
	height: 150px;
}

.owl-carousel{
	height: 190px;
}

.download_wr p{
	padding-bottom: 14px;
}


.download_wr a:nth-child(3){
	margin-left: 6%;
}

/*////////*/

.section_about__content{
	margin-left: 50%;
	width: 44%;
	font-size: 14px;
    line-height: 18px;
}

.section_about__content h1{
	padding-bottom: 6px;
	padding-top: 24px;
}

.blog_link{
	text-decoration: underline dashed;
}

.section_about__content p, 
.section_about__content ul
{
	padding-top: 18px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}

.section_about__img{
	position: absolute;
	left: 10%;
    top: 52px;
    right: 51%;
    bottom: 0;
    width: 30%;
	/*-webkit-transform: rotateZ(-40deg);
	-ms-transform: rotateZ(-40deg);
	-o-transform: rotateZ(-40deg);
	transform: rotateZ(-40deg);*/
	/*z-index: -1;*/
}

ul{
	list-style: disc inside;
}

.section_about__content li{
 	list-style-position: outside;
    margin-left: 18px;
    padding-left: 1ex;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.section_about__content ul{
	/*margin-left: 6px;*/
}

.slider__item  .additional{
	font-size: 10px;
	display: block;
	line-height: 11px;
	padding-top: 2px;
	height: auto;
	max-height: 100px;
	overflow: hidden;
	-webkit-transition: max-height 1s;
	-o-transition: max-height 1s;
	transition: max-height 1s;
}


/*/////////////////*/

.blogers{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	/*overflow: hidden;
	position: relative;*/
	margin: 34px auto 0;
    width: 94%;
}

.bloger__photo_mob{
	display: none;
}

.bloger_plus .bloger__photo{
	display: none;
}

.bloger_plus .bloger__photo_mob {
	margin-left: -2px;
	display: block;
}

.bloger_wr{
	width: 41%;
	height: 250px;
	position: relative;
	margin: 22px 0 12px;
	cursor: pointer;
}
.blog_wr2{
    background-color: #ecec70;    
	border-radius: 10px;
	position: relative;
	/*float: left;*/
	overflow: hidden;
}



.bloger__tips,
.bloger__desc,
.bloger__profile{
	position: absolute;
	height: 0;
	opacity: 0;
	clear: both;
}

.bloger_plus .bloger__tips,
.bloger_plus .bloger__desc,
.bloger_plus .bloger__profile{
	opacity: 1;
	position: relative;
	height: auto;
	-webkit-animation: matherial 1s ease;
	-o-animation: matherial 1s ease;
	animation: matherial 1s ease;
}

.bloger__profile,
.bloger__profile_mob{
	/*font-family:PFBagueSansPro-MediumItalic;*/
	font-weight: 500;
  	font-style: italic;
}

.bloger__tips li {
    display: block;
    width: 50%;
    float: left;
    min-height: 146px;
    padding: 20px 2% 0 5%;
    font-size: 16px;
    line-height: 20px;
    box-sizing: border-box;
    position: relative;
    /*font-family:PFBagueSansPro-MediumItalic;*/
    font-weight: 500;
  	font-style: italic;
}

.bloger__tips ul{
	/*display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    height: 100%;*/
    overflow: hidden;
    height: 100%;
	padding: 0 40px;
}

.bloger__tips span{
	position: absolute;
	left: 6px;
	font-size: 24px;
	/*font-family:PFBagueSansPro-Medium;*/
	top: 24px;
}

.photo_anim{
	-webkit-animation: matherial 1.5s ease;
	-o-animation: matherial 1.5s ease;
	animation: matherial 1.5s ease;
}


@keyframes matherial {
	0% { 
		opacity: 0;
	 }
	60%{
		opacity: 0;
		transform: translateY(20px);
	}
	100% { 
		opacity: 1;
		transform: translateY(0);
	 }
}



.blog_wr2{
	transition: all .5s ease;
	/*width: 100%;
	height: 100%;*/
}

.blog_wr2:first-child{
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}

.name{
	padding-bottom: 24px;
}

.bloger__about{
	/*display: flex;
	flex-direction: column;
	justify-content: space-evenly;*/
	float: left;
	width: 50%;
	/*height: 100%;*/
	font-size: 20px;
	/*font-family: pf-bold;*/
	font-weight: bold;
	padding-left: 12px;
    box-sizing: border-box;
    padding-top: 28px;
}

.bloger_plus .bloger__about{
	height: auto;
	-webkit-animation: text 1s;
	-o-animation: text 1s;
	animation: text 1s;
	width: 54%;
	/*padding-bottom: 70px;*/
}

.bloger_plus .bloger__about p{
	padding-bottom: 10px;
}

.bloger__title_open{
	display: none;
}

.bloger_plus .bloger__title{
	display: none;
}

.bloger_plus .bloger__title_open{
	padding-top: 27px;
    padding-bottom: 13px;
    line-height: 27px;
    display: block;
}

.bloger__profile{
	line-height: 20px;
	font-size: 16px;
}


@keyframes text{
	0%{
		opacity: 0;
	}
	70%{
		opacity: 1;
	}
}

.bloger_plus .bloger__tips{
	/*height: 50%;*/
	/*padding-bottom: 50px;*/
	background-color: #f0f0f0;
	border-radius: 0 0 10px 10px;
}

.new{
	position: absolute;
	width: 38px;
	height: 16px;
	border-radius: 12px;
	top: 7px;
	right: 4px;
	background-color: #3ec2d2;
	color: #ecec70;
	font-size: 12px;
	/*padding-top: 1px;*/
	line-height: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}

.bloger_plus .new{
	display: none;
}

.bloger_plus{
	/*background-image: url(../../mob.png);
	opacity: .5;
	-webkit-background-size: contain;
	background-size: contain;*/
	height: auto;
	cursor: default;
}

h5{
	font-size: 26px;
	line-height: 20px;
	text-transform: uppercase;
	/*font-family:PFBagueSansPro-MediumItalic;*/
	font-weight: 500;
  	font-style: italic;
}

.bloger__photo-cut{
	width: 50%;
	float: left;
	height: 100%;
	position: relative;
	overflow: hidden;
	/*background-image: url(../images/blogger.png);*/
}

.layout_big,
.layout_small,
.bloger__photo,
.bloger__photo_mob{
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
	width: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	max-width: 434px;
}

.layout_big{
	background-image: url(../images/blogger.svg);
}

.layout_small{
	/*background-image: url(../images/blogger_mini.png);*/
	/*width: 40%;*/
	width: auto;
	height: 102%;
    margin-top: -1%;
}

.bloger__photo,
.bloger__photo_mob{
	background-image: url(../images/face.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	left: 0;
}

.bloger_plus .bloger__photo_mob{
	/*-webkit-animation: changing 2s ease;
	-o-animation: changing 2s ease;
	animation: changing 2s ease;*/
	-webkit-background-size: 100%;
	background-size: 100%;
}

.bloger_plus .bloger__photo-cut{
	width: 34%;
	margin-right: 6%;
	/*height: 50%;*/
	height: 360px;
	padding-bottom: 32px;
	-webkit-animation: changing 1s ease;
	-o-animation: changing 1s ease;
	animation: changing 1s ease;
}

@keyframes changing{
	0%,60%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
/*@keyframes changing{
	0%,100%{
		opacity: 1;
	}
	50%{
		opacity: 0;
		-webkit-transform: translateX(-800px);
		-ms-transform: translateX(-800px);
		-o-transform: translateX(-800px);
		transform: translateX(-800px);
	}
	60%{
		opacity: 0;
	}
}*/

/*.layout_small{
	right: 0;
	top: 0;
}*/

.layout_big{
	opacity: 0;
}

.bloger_plus .layout_big{
	opacity: 1;
	left: 0;

}

.bloger_plus .layout_small{
	opacity: 0;
}

.bloger__photo{
	width: 100%;
	margin-left: -8px;
}

.bloger_plus{
	width: 100%;
	/*height: 900px;*/
	z-index: 10;
	height: auto;
}

.bloger__close{
	display: none;
	cursor: pointer;
}

.bloger__close:after{
	content: '';
	position: absolute;
	right: 10px;
	width: 20px;
	height: 20px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	background-image: url(../images/close.png);
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

.bloger_plus .bloger__close{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 13px 38px;
    font-size: 14px;
}

.name,
.bloger__desc{
	/*font-family:PFBagueSansPro-Medium;*/
}

.bloger_plus .name{
	display: none;
}

.bloger_plus .name_open{
	display: block;
}

.name_open{
	display: none;
}

.bloger_plus .name_open,
.bloger_plus .bloger__title_open{
	font-size: 24px;
}

.bloger__profile_mob{
	display: none;
}

/*///////*/

footer{
	overflow: hidden;
	padding: 24px 9%;
	font-size: 12px;
	font-weight: 400;
 	font-style: normal;
}

.link_wr{
	float: left;
	width: 50%;	
}

.link_wr img{
	max-height: 21px;
	max-width: 34px;
	float: left;
}

.link_wr:first-child img{
	max-width: 21px;
}

.link_wr:nth-child(2){
	padding-left: 3.5%;
    box-sizing: border-box;
}

.link_wr a{
	padding-left: 17px;
	text-decoration: underline;
	vertical-align: top;
	/*font-family:PFBagueSansPro-Regular;*/
	font-weight: 400;
  	font-style: normal;
}

.rights{
	padding: 20px 0 0 38px;
    max-width: 610px;
    /*margin: 0 auto;*/
    clear: both;
}

.section_about{
	min-height: 400px;
}

/*.link_wr,
footer{
	text-align: center;
}*/

.logo_next_page{
    float: left;
    padding-top: 16px;
    padding-left: 20px;
}

.additional_show{
	max-height: 100% !important;
}

.logo_next_page img{
	width: 14px;
}

.owl-carousel .owl-nav.disabled{
	display: block;
}
.owl-carousel .owl-nav span{
	display: none;
}
.owl-carousel .owl-nav button.owl-prev{
	width: 40px;
	background-image: url(../images/arrow_left.png);
	background-repeat: no-repeat ;
	background-position: 50% 50%;
	position: absolute;
    top: 0;
    bottom: 0;
    height: auto;
    left: -30px;
    outline: 0;
}
.owl-prev:hover,
.owl-prev:active,
.owl-next:active,
.owl-next:hover,
.owl-prev:visited{
	outline: 0;
}
.owl-carousel .owl-nav button.owl-next{
	width: 40px;
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat ;
	background-position: 50% 50% ;
	position: absolute;
    top: 0;
    bottom: 0;
    height: auto;
    right: -30px;
    outline: 0;
}

.slider__item.hidden .additional{
	/*display: none;*/
	/*height: 0;*/
	max-height: 0;
}

.slider__item{
	position: relative;
	-webkit-transition: height 1s;
	-o-transition: height 1s;
	transition: height 1s;
}

.close_slider{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.slider__item.hidden{
	cursor: pointer;
}

.slider__item.hidden .close_slider{
	background-image: url(../images/plus.svg);
}

.slider__item.not_hidden .close_slider{
	background-image: url(../images/minus.svg);
}

.visa{
	right: 36px;
	top: 36px;
	max-width: 83px;
}

.visa img{
	width: 100%;
}

.section_about__content h5{
	/*padding-bottom: 10px;*/
	padding-top: 18px;
}


@media screen and (max-width: 1366px) {
	/*body{
		background-image: url(../../aa.png);
		opacity: .5;
		-webkit-background-size: cover;
		background-size: cover;
	}*/
	.layout_big, .layout_small, .bloger__photo,
	.bloger__photo_mob{
		max-width: 300px;
	}
	.link_wr,
	footer{
		text-align: left;
	}
	.download_wr>a{
		float: left;
		width: 45%;
	}
	.rights{
		padding: 10px 0 0 38px;
		float: left;
	}
	.logo_wr{
		padding-bottom: 30px;
	}
	.bg_img{
		left: 58%;
		width: auto;
	}
	.logo img{
		width: 100%;
	}
	.logo{
		max-width: 60px;
    	padding: 3px 7px 0 0;
	}
	.content{
		margin-left: 9%;
		width: 32%;
	}
	.logo_text{
		font-size: 18px;
		width: 140px;
		line-height: 23px;
	}
	h1{
		font-size: 28px;
		line-height: 34px;
		padding-bottom: 8px;
	}
	h5{
		font-size: 18px;
	}
	.content_middle p{
		font-size: 16px;
		line-height: 18px;
	}
	.download_wr{
		padding-bottom: 40px;
	}
	.bloger_wr{
		height: 174px;
		transition: padding .5s ease;
	}
	/*.bloger_wr:first-child{
		transition: none;
	}*/
	.bloger_plus{
		/*height: 640px;*/
		/*height: 556px;*/
	}
	.bloger__about{
		/*height: 44%;*/
		font-size: 14px;
		padding-left: 12px;
		padding-right: 20px;
	}
	.slider__item{
		width: 90%;
		min-height: 150px;
		padding: 9px 15px 12px;
		font-size: 16px;
		line-height: 16px;
	}
	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
		height: 150px;
	}
	.owl-carousel{
		height: 160px;
	}
	/*.owl-item .slider__item img{
		margin-bottom: 10px;
		max-height: 33px;
	}*/
	/*//////////*/
	.section_about__content{
		margin-left: 50%;
		width: 43%;
		padding-top: 0;
		font-size: 14px;
		line-height: 16px;
	}	
	.section_about__content p
	{
		padding-top: 18px;
	}
	.section_about__img{
		width: 30%;
	}
	.section_about{
		overflow: hidden;
	}
}

@media screen and (max-width: 1100px) {
	.bg_img {
    	left: 50%;
	}
    .owl-carousel {
        width: 60%;
	}
    
}

@media screen and (max-width: 900px) {
	.owl-carousel{
		width: 67%;
	}
	.bg_img{
		left: 52%;
		width: auto;
	}
	.section_about__img{
		width: 30%;
	}
	.logo_next_page{
		padding-left: 0;
	}
	.bloger__tips li {
	    min-height: 129px;
	    padding: 20px 3% 0 7%;
	    font-size: 12px;
    	line-height: 15px;
	}
	h5 {
    	font-size: 12px;
    	line-height: 16px;
	}
	.link_wr img{
		position: absolute;
	}
	.link_wr a{
	    padding-left: 52px;
	    display: block;
	}

}


@media screen and (max-width: 700px) {
	.link_wr img{
		position: static;
	}
	.download_wr{
		padding-bottom: 24px;
	}
	.link_wr a{
	    padding-left: 10px;
	    display: block;
	}
	.bloger_plus .bloger__photo-cut {
	    width: 40%;
	    margin-right: 6%;
	    height: 172px;
	}
	.layout_big, .layout_small, .bloger__photo,
	.bloger__photo-cut,
	.bloger__photo_mob {
	    max-width: 170px;
	    max-height: 180px;
	}
	.bloger_plus .bloger__profile_mob{
		display: block;
	    padding: 10px 6% 36px 3%;
    	clear: both;
    	font-size: 14px;
    	line-height: 17px;
    	-webkit-animation: text_two 1s;
    	-o-animation: text_two 1s;
    	animation: text_two 1s;
	}
	.section_about__content h5{
		padding-bottom: 10px;
		padding-top: 0px;
	}
	.bloger__tips ul {
	    padding: 20px 24px;
	}
	@keyframes text_two{
		0%,50%{
			opacity: 0;
		}
		100%{
			opacity: 1;
		}
	}
	.bloger__profile{
		display: none;
	}
	.section_about__content p {
	    padding-bottom: 10px;
	    padding-top: 0;
	}
	.bloger_plus .blogers,
	.bloger_plus .name_open,
	.bloger_plus .bloger__title_open,
	.bloger_plus{
		font-size: 14px;
	}
	.bloger_plus .name_open{
		width: 50%;
    	line-height: 20px;
	}
	.bloger_plus .bloger__close{
		display: inline-block;
	    overflow: hidden;
	    text-indent: -9999px;
	    padding: 20px 30px;
	}
	.bloger__photo-cut{
		width: 50%;
	}
	.bloger_plus .bloger__about{
		height: 170px;
		width: 50%;
	}
	.bg_img{
		position: static;
		display: none;
		width: 100%;
		height: 452px;
		/*background-image: url(../images/bg_img_mob.png);*/
	}
	.bg_img_mob{
		display: block;
		width: 100%;
	}
	.content{
		width: 100%;
		margin-left: 0;
		padding: 0 4%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	footer{
		padding: 20px 4% 15px;
	}
	.blogers{
		width: 100%;
		margin-top: 0;
	}
	.bloger_wr{
		padding: 0 4%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		/*transition: padding 1s ease;*/
	}
	.bloger__tips li{
		width: 100%;
		padding: 14px 0% 0 10%;
		min-height: 0;
		font-size: 14px;
    	line-height: 17px;
	}
	.bloger__tips span{
		left: -3%;
	}
	.bloger_plus .bloger__tips{
		height: auto;
		/*padding-bottom: 50px;*/
    	border-radius: 0;
	}
	.bloger_plus{
		padding: 0;
		border-radius: 0;
		height: auto;
	}
	.bloger_plus .blog_wr2{
		border-radius: 0;
		/*width: 100% !important;*/
	}
	.blog_wr2{
		width: 100% !important;
	}
	.logo_text{
		width: 200px;
	}
	.bloger_wr{
		width: 100%;
		margin: 5px 0;
	}
	.owl-carousel{
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.section_about__img{
		position: static;
		width: 80%;
    	margin: 14px 0 10px 10%;
	}
	.section_about__content h1{
		padding-top: 0;
		padding-bottom: 6px;
	}
	.link_wr{
		width: 230px;
	    padding: 10px 0;
	    float: none;
	    overflow: hidden;
	}
	
	.content_middle{
		clear: both;
		padding-top: 24px;
	}
	.section_about__content li{
		padding-left: 0;
	}
	.logo_wr{
		overflow: visible;
		padding-top: 20px;
	}
	.slider__item span{
		font-size: 16px;
	}
	.slider__item .additional{
		font-size: 12px;
		padding-top: 3px;
	}
	.logo{
		margin-top: -27px;
		max-width: 47px;
		padding: 6px 7px 0 0;
	}
	.slider__item{
		min-height: 136px;
		max-width: 210px;
	}
	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
		height: 136px;
	}
	.owl-carousel{
		height: 170px;
	}
	.owl-next span,
	.owl-prev span{
		display: none;
	}
	.link_wr img {
	    max-height: 50px;
	    max-width: 45px;
	}
	.section_about__content li{
		margin-left: 10px;
	}
	.owl-carousel .owl-nav button.owl-next{
		min-height: 136px;
		width: 50px;
		background-color: #ecec70;
		border-radius: 10px 0 0 10px;
		background-image: url(../images/arrow.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		right: 0;
	}
	.owl-carousel .owl-nav button.owl-prev{
		min-height: 136px;
		width: 50px;
		background-color: #ecec70;
		border-radius: 0 10px 10px 0;
		background-image: url(../images/arrow_left.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		left: 0;
	}
	h1{
		padding-bottom: 6px;
	}
	h5{
		font-size: 14px;
	}
	.link_wr img{
		width: 58px;
		float: left;
	}
	.link_wr:first-child img{
		max-width: 45px;
	}
	.link_wr:nth-child(2){
		padding-left: 0;
	}
	.link_wr a{
		margin-left: 10px;
	    padding-left: 0;
	    float: left;
	    width: 170px;
	}
	.rights{
		padding: 15px 0;
	}
	.logo_next_page{
	    float: right;
    	padding: 0 10px 0 0;
	}
	.visa{
		top: 18px;
		right: 18px;
	}
	.bloger__about{
	    padding-top: 22px;
    	padding-left: 10px;
     	padding-right: 10px; 
		width: 40%;
	}
	.bloger_plus .bloger__title_open {
	    padding-top: 8px;
	    line-height: 18px;
	}
	.name {
	    padding-bottom: 14px;
	    line-height: 17px;
	}	
	h5{
		line-height: 18px;
	}		
	.bloger__tips span{
		top: 19px;
	}	
	.bloger_wr.bloger_plus{
		padding: 0;
	}	
	.section_about__content ul{
		margin-left: 6px;
		padding-bottom: 10px;
		padding-top: 0;
	}
	.starting_section{
		padding-bottom: 0;
	}
}
@media screen and (max-width: 380px) {
	.bloger_plus .bloger__photo_mob {
    	margin-left: -2px;
	}
}
@media screen and (max-width: 340px) {
	.bloger_plus .bloger__photo-cut {
        width: 55%;
	    margin-left: -5%;
	    margin-right: 0;
	    height: 170px;
	}
	.content,
	.bloger_wr,
	footer{
		padding: 0 2% 15px;
	}
	.bloger__about{
		width: 47%;
	}
	.layout_big, .layout_small, .bloger__photo, .bloger__photo-cut,
	.bloger__photo_mob{
		max-width: 166px;
	}
	.bloger_plus .bloger__about{
		width: 53%;
	}
}
@media only screen and (min-width : 1101px) {
	.section_about__img {
	    width: 30%;
	    top: 20px;
	}
	h5{
		line-height: 24px;
	}
	.section_about{
		min-height: 450px;
	}
	.logo{
		max-width: 80px;
	}
	.logo_text {
	    font-size: 19px;
	    width: 160px;
	    line-height: 28px;
	}
	.logo_next_page{
		padding-top: 25px;
	}
}

@media only screen and (min-width: 1365px) {
    footer {
        font-size: 14px;
    }
}

@media only screen and (min-width : 1367px) {
	.slider__item {
	    min-height: 160px;
    	font-size: 18px;
	}

	.bloger__title{
		font-size: 24px;
	}	
	.content_middle p,
	.section_about__content p,
	.section_about__content li,
	.bloger_plus .bloger__about p,
	.bloger__tips li {
	    font-size: 20px;
	    line-height: 24px;
	}
	footer{
		padding-left: 8.6%;
/*		font-size: 18px; */
		line-height: 22px;
	}
	.slider__item .additional {
	    font-size: 14px;
	    line-height: 14px;
	    padding-top: 6px;
	}
	.slider__item .additional {
	    /*font-size: 12px;
	    line-height: 12px;*/
	}
	.section_about__img {
	    width: 30%;
	}
	.bloger_plus{
		/*height: 824px;*/
		width: 92%;
	}
	.bloger_plus .bloger__photo-cut{
		height: 500px;
	}
	/*.bloger_plus .bloger__tips{
		height: 54%;
	}*/
	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
		height: 160px;
	}
	.owl-carousel{
		height: 224px;
	}
	.bloger__about{
		padding-top: 40px;
	    width: 40%;
	}
	.new {
	    width: 50px;
	    height: 24px;
	    top: 10px;
	    right: 10px;
	    /*font-size: 16px;*/
	    /*padding-top: 2px;*/
	    line-height: 20px;
	}
	.bloger__profile{
		line-height: 24px;
	}
	.bloger_plus .bloger__about p{
		padding-bottom: 22px;
	}
	.bloger__tips li{
		min-height: 170px;
	}
	h5 {
	    /*font-size: 24px;*/
	    line-height: 30px;
	}
	.download_wr img{
		max-width: 240px;
	}
	.bloger_plus .bloger__title_open{
		padding-bottom: 24px;
		line-height: 30px;
	}
	.section_about__content ul{
		margin-left: 6px;
	}
}
@media only screen and (min-width : 1442px) {
	.section_about {
	    min-height: 500px;
	}
    .slider__item {
	    min-height: 180px;
	    font-size: 20px;
	}
	.owl-item .slider__item img{
		height: 56px;
		margin-bottom: 16px;
	}
	h1 {
    	font-size: 48px;
    	line-height: 56px;
	}
	.content_middle p,
	.section_about__content p,
	.section_about__content li,
	.bloger_plus .bloger__about p,
	.bloger__tips li {
    	font-size: 24px;
	    line-height: 30px;
	}
	.bloger_plus{
		/*height: 900px;*/
	}
	.bloger__tips li{
		min-height: 244px;
	}
	.download_wr{
		padding-bottom: 40px;
	}
}
@media only screen and (min-width : 1601px) {
	.section_about{
		min-height: 690px;
	}
	.bloger__tips li{
		font-size: 24px;
    	line-height: 28px;
    	min-height: 180px;
    	padding: 34px 2% 0 3%;
	}
	.logo {
	    max-width: 105px;
	}
	.slider__item .additional {
	    font-size: 14px;
	    line-height: 14px;
	    padding-top: 2px;
	}

	.owl-carousel{
		width: 56%;
	}
	.slider__item .additional{
		font-size: 20px;
		padding-top: 10px;
		line-height: 20px;
	}
	.bloger_plus .bloger__tips, .bloger_plus .bloger__desc, .bloger_plus .bloger__profile{
	    font-size: 26px;
    	line-height: 34px;
	}
	.bloger__about{
		padding-top: 36px;
    	width: 44%;
	}
	h5 {
	    font-size: 32px;
	    line-height: 36px;
	}
	.name{
		font-size: 26px;
	}
	.bloger__tips span{
		font-size: 30px;
	}
	.layout_big, .layout_small, .bloger__photo,
	.bloger__photo_mob{
		max-width: 510px;
	}
	.bloger_plus .bloger__photo-cut{
		height: 600px;
	}
	.bloger_plus .name_open, .bloger_plus .bloger__title_open{
		font-size: 30px;
	}
	.link_wr,
	.rights{
		font-size: 20px;
	}
	.rights{
		clear: both;
		max-width: 1000px;
	}
	.content_middle p,
	.section_about__content p,
	.section_about__content ul,
	.section_about__content li {
	    font-size: 28px;
	    line-height: 32px;
	    padding-bottom: 40px;
	    padding-top: 0;
	}
	.section_about__content li{
		padding-bottom: 0;
	}
	.section_about__content h1{
		padding-bottom: 40px;
	}
	.slider__item{
		font-size: 28px;
		min-height: 250px;
		line-height: 28px;
	}
	.section_about__content h5{
		padding-bottom: 40px;
		padding-top: 0;
	}
	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
		height: 226px;
	}
	.owl-carousel{
		height: 266px;
	}
	.logo_text{
		font-size: 34px;
		line-height: 38px;
		width: 280px;
	}
	.logo_next_page{
		padding-top: 40px;
	}
	.section_about{
		padding-bottom: 20px;
	}
	.bloger_plus{
		/*height: 1000px;*/
	}
	.bloger_plus .bloger__about p {
	    padding-bottom: 30px;
	    font-size: 28px;
	    line-height: 32px;
	}
	.bloger_plus .bloger__photo-cut{
		margin-right: 2%;
	}
	.bloger_plus .bloger__about{
		width: 62%;
	}
	.bloger_plus .bloger__about  .name_open, .bloger_plus .bloger__title_open {
	    font-size: 48px;
	    line-height: 60px;
	}
	.close_slider{
		width: 26px;
		height: 26px;
	}
	.bloger__close:after{
		width: 30px;
		height: 30px;
	}
	.bloger_plus .bloger__close{
		font-size: 28px;
		padding-right: 50px;
	}
	.new{
		line-height: 20px;	
	}
}

.bloger_plus{
	height: auto;
}